body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", serif;
    font-size: 15px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-weight: 700;
    width: 270px;
    margin-bottom: 0;
}

p{
    font-weight: 200;
    width: 270px;
}

section {
    background-color: hsl(0, 0%, 100%);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    height: 280px;
    width: 280px;
    padding: 12px;
    border-radius: 6%;
}